*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.projects{
    width: 99vw;
    height: max-content;
    box-sizing: border-box;
    background-color: red;
  
}
.project-container{
    padding: 0rem 1rem;
    margin-top: 3rem;
    height: 100%;
    width: 96%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    box-sizing: border-box;
}


.project{
    box-sizing: border-box;
    width: 90%;
    display: flex;
    gap: 5rem;
    align-items: center;
    overflow: hidden;
    background-color: aqua;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.pone-media, .ptwo-media, .pthree-media {
    width: 45%;
    height: 320px; /* Set a fixed height */
    border-radius: 1rem;
    transition: all 0.3s ease-out;
    position: relative; /* Allows absolute positioning of children */
    overflow: hidden; /* Ensures smooth transition */
}

.pone-media img, .ptwo-media img, .pthree-media img,
.pone-media video, .ptwo-media video, .pthree-media video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out; /* Smooth transition */
}
