.contact{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-family: "Montserrat";
}

.contact > h1{
    font-size: 2.5rem;
    animation: slide 1.5s;
}

@keyframes slide {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.contact > ul{
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 2.5rem;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.contact > ul > li > a{
    text-decoration: none;
    transition: all 0.5s ease-out;
    
}

.contact > ul > li > a:hover{
    color: #005ac3;
}

@media (max-width: 768px) {
    .contact > ul{
        display: flex;
        gap: 2.5rem;
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600;
    }
}