*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #1a202c;
  /* color: white;  Default light mode text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}